.home {
    width: 100vw;
    /* background: var(--black) */
}

.hero {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.hero img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.text {
    color: whitesmoke;
    font-size: 48px;
    text-align: right;
    position: absolute;
    bottom: 2px;
    right: 2em;
    text-shadow: 1px 1px 2px black;
}

.text h5 {
    margin-top: 0;
}

.text h1 {
    margin-bottom: 18px;
}

.brag {
    height: 50vh;
    background: #000000;
    display: flex;
    justify-content: center;
}

.slogan {
    opacity: 0.7;
    margin-bottom: 1em;
}

.brag-wrapper {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.awesome-abilities {
    color: whitesmoke;
    height: 50vh;
    background: var(--black);
    display:  flex;
    justify-content: center;
}

.awesome-abilities .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.business-areas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-area {
    padding: 2em;
}

.business-area h5 {
    margin: 1.25em 0;
}

.business-icon {
    font-size: 4rem !important;
}

.services-btn {
    width: 300px;
    border-radius: 2em !important;
    text-transform: none !important;
    margin-top: 1em !important;
}

.cases {
    background: var(--black);
    display: flex;
    justify-content: center;
    color: whitesmoke;
    min-height: 50vh;
    padding-top: 2em;
    padding-bottom:8em;
}

.case-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-wrapper {
    width: 400px; 
    height: 250px;
    overflow: hidden;
}
.img-wrapper img {
    width: 100%;
    height:100%;
    object-fit: cover;   
    transition: 0.3s ease; 
}
.case {
    padding: 1em;
}

.case h5 {
    color:var(--lightblue);
    text-decoration: underline;
    text-align: left;
    margin-top: 0.5em;
}

.tech {
    display: flex;
    margin-top: 0.5em;
}

.tech p {
    padding: 0.5em;
    margin-right: 0.5em;
    background:#000000;
    font-size: 12px;
}

.cases img:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.1);
        cursor: pointer;
}

.cases h3 {
    text-align: left;
    margin: 0.5em;
}

@media only screen and (max-width: 768px) {
    .hero svg {
        width: 90%;
    }
    .home {
        padding: 0 1em;
        width: 100vw;
        
    }
    .business-areas {
        flex-direction: column;
    }

    .business-area {
        padding: 0 0 2em 0;
    }

    .business-area p {
        text-align: center;
    }
    .awesome-abilities {
        height: auto;
        /* padding-bottom: 3em; */
    }
    .awesome-abilities h5 {
        margin: 0.5em 0;
    }

    section {
        height: auto;
        padding: 3em 0;
    }

    .brag-wrapper p {
        font-size: 13px;
    }

    .case-wrapper {
        flex-direction: column;
    }

    .cases {
        padding-top: 0;
        padding-bottom: 3em;
    }

    .cases h3 {
        margin: 0;
    }

    .case {
        padding: 2em 0;
    }

    .cases .img-wrapper {
        width: 100%;
    }
  }


/***************************************************
 * Generated by SVG Artista on 9/26/2022, 12:18:12 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg .svg-elem-1{stroke-dashoffset:1118px;stroke-dasharray:1118px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s}svg.active .svg-elem-1{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-2{stroke-dashoffset:383.70684814453125px;stroke-dasharray:383.70684814453125px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s}svg.active .svg-elem-2{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-3{stroke-dashoffset:452.17401123046875px;stroke-dasharray:452.17401123046875px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s}svg.active .svg-elem-3{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-4{stroke-dashoffset:452.1737060546875px;stroke-dasharray:452.1737060546875px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s}svg.active .svg-elem-4{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-5{stroke-dashoffset:501.0223693847656px;stroke-dasharray:501.0223693847656px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s}svg.active .svg-elem-5{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-6{stroke-dashoffset:452.1743469238281px;stroke-dasharray:452.1743469238281px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s}svg.active .svg-elem-6{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-7{stroke-dashoffset:383.70684814453125px;stroke-dasharray:383.70684814453125px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s}svg.active .svg-elem-7{stroke-dashoffset:0;fill:rgb(33,33,33)}svg .svg-elem-8{stroke-dashoffset:452.17401123046875px;stroke-dasharray:452.17401123046875px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s}svg.active .svg-elem-8{stroke-dashoffset:0;fill:rgb(33,33,33)}svg .svg-elem-9{stroke-dashoffset:452.1737060546875px;stroke-dasharray:452.1737060546875px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.96s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.6s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.96s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.6s}svg.active .svg-elem-9{stroke-dashoffset:0;fill:rgb(33,33,33)}svg .svg-elem-10{stroke-dashoffset:501.0223693847656px;stroke-dasharray:501.0223693847656px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.08s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.7000000000000002s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.08s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.7000000000000002s}svg.active .svg-elem-10{stroke-dashoffset:0;fill:rgb(33,33,33)}svg .svg-elem-11{stroke-dashoffset:452.1743469238281px;stroke-dasharray:452.1743469238281px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.2s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.8s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.2s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.8s}svg.active .svg-elem-11{stroke-dashoffset:0;fill:rgb(33,33,33)}svg .svg-elem-12{stroke-dashoffset:383.70684814453125px;stroke-dasharray:383.70684814453125px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.3199999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.9000000000000001s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.3199999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.9000000000000001s}svg.active .svg-elem-12{stroke-dashoffset:0}svg .svg-elem-13{stroke-dashoffset:452.17401123046875px;stroke-dasharray:452.17401123046875px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.44s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.44s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2s}svg.active .svg-elem-13{stroke-dashoffset:0}svg .svg-elem-14{stroke-dashoffset:452.1737060546875px;stroke-dasharray:452.1737060546875px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.56s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.56s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.1s}svg.active .svg-elem-14{stroke-dashoffset:0}svg .svg-elem-15{stroke-dashoffset:501.0223693847656px;stroke-dasharray:501.0223693847656px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.68s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.2s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.68s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.2s}svg.active .svg-elem-15{stroke-dashoffset:0}svg .svg-elem-16{stroke-dashoffset:452.1743469238281px;stroke-dasharray:452.1743469238281px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.7999999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.3s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.7999999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.3s}svg.active .svg-elem-16{stroke-dashoffset:0}svg .svg-elem-17{stroke-dashoffset:144.89447021484375px;stroke-dasharray:144.89447021484375px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.92s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.4000000000000004s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.92s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.4000000000000004s}svg.active .svg-elem-17{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-18{stroke-dashoffset:61.95229721069336px;stroke-dasharray:61.95229721069336px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.04s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.5s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.04s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.5s}svg.active .svg-elem-18{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-19{stroke-dashoffset:175.26998901367188px;stroke-dasharray:175.26998901367188px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.16s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.6s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.16s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.6s}svg.active .svg-elem-19{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-20{stroke-dashoffset:61.952354431152344px;stroke-dasharray:61.952354431152344px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.28s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.7s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.28s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.7s}svg.active .svg-elem-20{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-21{stroke-dashoffset:80.73739624023438px;stroke-dasharray:80.73739624023438px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.4s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.8s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.4s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.8s}svg.active .svg-elem-21{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-22{stroke-dashoffset:128.61155700683594px;stroke-dasharray:128.61155700683594px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.52s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.9000000000000004s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.52s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.9000000000000004s}svg.active .svg-elem-22{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-23{stroke-dashoffset:61.832000732421875px;stroke-dasharray:61.832000732421875px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.6399999999999997s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.6399999999999997s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3s}svg.active .svg-elem-23{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-24{stroke-dashoffset:142.50103759765625px;stroke-dasharray:142.50103759765625px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.76s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.1000000000000005s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.76s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.1000000000000005s}svg.active .svg-elem-24{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-25{stroke-dashoffset:109.35504150390625px;stroke-dasharray:109.35504150390625px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.88s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.2s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.88s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.2s}svg.active .svg-elem-25{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-26{stroke-dashoffset:63.506187438964844px;stroke-dasharray:63.506187438964844px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 3s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.3s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 3s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.3s}svg.active .svg-elem-26{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-27{stroke-dashoffset:165.42657470703125px;stroke-dasharray:165.42657470703125px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 3.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.4000000000000004s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 3.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.4000000000000004s}svg.active .svg-elem-27{stroke-dashoffset:0;fill:rgb(255,255,255)}